table {
    width: 100%;
    box-shadow: none;
}

.mat-header-cell {
    background: rgb(240, 240, 240);
}

.filter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > div {
        display: flex;
        align-items: center;
    }
}
